.signUpContainer {
  max-width: 500px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 400px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
